.newFont {
  font-size: 14px;
  color: grey;
}

.cardSpan {
  font-size: 13px;
  font-weight: 300;
  color: black;
}

.lastCont {
  min-height: 70vh;
}

.datePicker {
  width: 90%;
  font-size: 15px;
}
